body {
    background: linear-gradient(to bottom, #ecd1e0, #ffffff);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 24px;
}

.botao {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(69, 50, 50, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.content {
    margin: 8px;
    position: relative;
    background: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.capa {
    width: 55%;
    border-style: solid;
    border-width: 1.8px;
    border-color: rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    margin: 10px;
}

.popup:target {
    display: flex;
}

.fecha {
    position: absolute;
    top: -1px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;

}

.formulario>.direita {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
}

input[type="file"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 24px;
}

#preview {
    max-width: 70%;
    max-height: 500px;
}

.form-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecd1e0;
    padding: 12px 20px;
    color: #453232;
    height: 8vh;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 18px;
}

a {
    color: #453232;
}

a:visited {
    color: #453232;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    font-size: 32px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #D9D9D9;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #FFE600;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}

@media only screen and (max-width: 550px) {
    .form-img {
        font-size: 14px;
    }
}

@media only screen and (max-width: 460px) {
    .formulario {
        flex-direction: column;
        gap: 10px;
    }

    .content {
        overflow-y: scroll;
    }
}