<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Story Stroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../../public/css/posts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="../../../public/js/add-post.js"></script>

</head>

<body>

    <a class="botao" href="#popup-box">Adicionar post</a>
    <div id="popup-box" class="popup">
        <div class="content">

            <form action="#" method="post" enctype="multipart/form-data">
                <div class="formulario">
                    <div class="esquerda">
                        <label for="autor">Autor</label><br>
                        <input type="text" id="autor" name="autor" value="pedro_123" readonly><br>
                        <label for="titulo">Título</label><br>
                        <input type="text" id="titulo" name="titulo" placeholder="Título da sua review"><br>
                        <div class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </div>
                        <br>
                        <label for="conteudo">Review</label><br>
                        <textarea type="text" id="conteudo" name="conteudo" placeholder="Conteudo da sua review"
                            rows="7" cols="50"></textarea>
                    </div>
                    <div class="direita">
                        <label class="form-img" for="img">
                            <p id="imgname">Selecione uma imagem</p>
                        </label>
                        <input onclick="verifica()" type="file" id="img" name="img" accept="image/*">
                        <label for="data">Data:</label>
                        <input type="date" id="data" name="data">
                    </div>
                </div>
                <input type="submit" value="Publicar">
            </form>
            <a class="fecha" href="#">&times;</a>
        </div>
    </div>
    <script>
        document.getElementById('data').valueAsDate = new Date();
    </script>
</body>

</html>