<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Story Stroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="../../../public/css/ve-post.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="../../../public/js/rm-post.js"></script>

</head>

<body>

    <a class="botao" href="#popup-box">Remover post</a>
    <div id="popup-box" class="popup">
        <div class="content">
            <div class="esquerda">
                <h3>Autor</h1>
                    <p>Pedro_123</p>
                    <h3>Título</h1>
                        <p>Os Demônios</p>
                        <h3>Review</h1>
                            <textarea rows="8" cols="30"
                                readonly>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo auctor erat, vel accumsan tortor aliquet ac. Donec vel odio eu quam eleifend commodo et quis velit. Nulla sollicitudin justo quis massa faucibus vulputate. Nam non augue leo. Aenean feugiat, lacus molestie facilisis blandit, dui turpis condimentum nisl, ut convallis nunc tortor nec enim. Nullam vestibulum, diam vitae commodo fermentum, mauris lorem sodales mauris, ac lacinia leo risus in tortor. Cras metus felis, rutrum eget vehicula et, elementum ut nunc. Quisque feugiat orci vitae maximus accumsan. Aliquam posuere nisi sed enim dictum, in dictum enim varius. Suspendisse sagittis ut nibh ac efficitur. Duis et nulla a tellus hendrerit euismod. Etiam egestas non dui eu elementum. Curabitur aliquam sed ex id mollis. Aenean a risus nisl.</textarea>
            </div>
            <div class="direita">
                <img src="../../../public/assets/capa.jpg">
                <h3>Data</h3>
                <p>02/05/2024</p>
            </div>
            <a class="fecha" href="#">&times;</a>
            <div class="quebra"></div>
            <form action="/delete/" method="post">
                <input type="hidden" value="id-do-post">
                <input type="submit" value="Excluir publicação" onclick="Excluir()">
            </form>

        </div>

    </div>

</body>

</html>